[submodule "Trident/vendor/glfw"]
	path = Trident/vendor/glfw
	url = https://github.com/ThatTanishqTak/glfw.git
[submodule "Trident/vendor/glm"]
	path = Trident/vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Trident/vendor/imgui"]
	path = Trident/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
	branch = docking
[submodule "Trident/vendor/stb"]
	path = Trident/vendor/stb
	url = https://github.com/ThatTanishqTak/stb.git
